@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/***-regular);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url(../fonts/***-medium);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/***-semibold);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/***-bold);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
