@use './variables.scss' as *;
@use './mixins.scss' as *;
@use './reset.scss' as *;
@use './fonts.scss' as *;

body,
#app {
    width: 100%;
    overflow-x: hidden;
    margin: 0 !important;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
