:root {
    --bg-color: #fff;

    --font-family: 'Montserrat', sans-serif;

    --text-xxs: 10px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-base: 16px;
    --text-lg: 18px;
    --text-xl: 20px;
    --text-2xl: 26px;
    --text-3xl: 32px;

    --padding-xs: 6px;
    --padding-s: 10px;
    --padding-m: 14px;
    --padding-l: 18px;

    --margin-xs: 6px;
    --margin-s: 10px;
    --margin-m: 14px;
    --margin-l: 18px;

    --border-radius-sm: 16px;

    --color-dark-blue: #19242F;
    --color-nav: #252e39;
    --text-color: #ffffff;
    --yellow-color: #DBC08D;
    --text-color-black: #000000;
    --dark-gold: #BFA470;
    --saka-color: #F8F8F8;
    --size-color: #888;
}